
@media screen and ( min-width: 48em ) {

  nav ul {
    row-gap: 40px;
  }

  .hero__text-content h1 {
    width: 60%;
  }

  .hero__text-content p {
    width: 50%;
  }

  .cards {
    flex-direction: row;
  }

  .cards.reverse {
    flex-direction: row-reverse;
  }

  .cards__text-content h2 {
    text-align: left;
  }

  .cards__text {
    padding: 20px 0;
  }

  .info {
    padding: 40px 0;
  }

  .info__wrapper {
    display: flex;
    flex-direction: row;
  }

  .info__weather {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex: 1 1 70%;
  }

  .weather__main-info h3 {
    display: block;
  }

  .weather__main-content {
    /* flex-direction: column; */
    row-gap: 40px;
  }

  .info__weather-forecasts {
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    margin-bottom: 0;
  }

  .info__weather-forecasts .info__weather-forecast {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    padding: 20px;
  }

  .info__weather-forecast .forecast-day {
    margin-bottom: 0;
  }

  .info__weather-forecast .forecast-info {
    display: inline-flex;
    align-items: center;
    column-gap: 20px;
  }

  .info__count {
    display: flex;
    flex: 1 1 30%;
    justify-content: center;
    align-items: center;
  }

  .info__count p span {
    display: block;
  }

  .footer__main {
    flex-direction: row;
  }

  /* About us page */

  .about {
    grid-template-rows: repeat(auto-fit, minmax( 250px, 1fr ));
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 20px;
    margin: 50px 0;
  }

  .about > section {
    padding: 30px;
  }

}
