
@media screen and (min-width: 20em) {

  .design-principles {
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 1fr;
    row-gap: 100px;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 0;
  }

}