
img {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
}

.images {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  row-gap: 50px;
}

.images img[data-src] {
  filter: blur(1em);
}

.images img {
  filter: blur(0em);
  transition: filter .5s;
}