
@media screen and (min-width: 768px) {
  
  header .container {
    flex-direction: row;
  }

  nav ul {
    display: flex;
  }

  .personas__wrapper {
    flex-direction: row;
  }

  main .container {
    max-width: 800px;
    margin: 0 auto;
  }

}