
:root {
  --primary-color: #0071a8;  
  --secondary-color: #ededed;
  --accent1-color: #faf219;
  --accent2-color: #000000;
  --accent3-color: #ffffff;

  --heading-font: 'Patua One', cursive;
  --paragraph-font: 'EB Garamond', serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: var(--paragraph-font);
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

img {
  display: block;
  width: 100%;
}

#banner {
  background-color: var(--accent1-color);
  color: var(--primary-color);
  padding: 20px 10px;
  font-weight: 700;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  text-align: center;
}

.logo__text span:first-child {
  font-size: 18px;
  font-family: var(--heading-font);
}

.logo__text span:last-child {
  font-size: 14px;
}

.logo__image {
  max-width: 40px;
  margin-right: 5px;
}

nav {
  position: absolute;
  /* top: 148.39px; */
  left: -100%;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.952);
  text-align: center;
  /* transition: left .1s ease-out; */
}

nav.nav-open {
  left: 0%;
  transition: left .25s ease-in;
}

nav + .nav-info .fa-xmark {
  display: none;
}

nav.nav-open + .nav-info .fa-xmark {
  display: block;
}

nav.nav-open + .nav-info .fa-menu {
  display: none;
}

nav ul {
  list-style: none;
}

nav ul li:not(:last-of-type) {
  margin-bottom: 35px;
}

nav a {
  padding: 8px 16px;
  color: var(--secondary-color);
}

nav a:hover {
  border-bottom: 2px solid var(--accent1-color);
  color: var(--accent1-color);
  transition: all .1s ease-in;
}

nav a.active {
  border-bottom: 2px solid var(--accent1-color);
}

a {
  text-decoration: none;
}

.header-wrapper, .footer__wrapper {
  padding: 30px 15px;
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.nav-info {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.social-media a:not(:last-of-type) {
  margin-right: 3px;
}

.nav-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 10px 0;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
}

.social-media {
  line-height: 1;
}

.fa-brands,
.fa-menu,
.fa-xmark {
  width: 25px;
  height: 25px;
  fill: var(--secondary-color);
}

.fa-brands:hover {
  fill: var(--accent1-color);
}

.nav-menu {
  display: flex;
  align-items: center;
  padding: 3px;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

main.home {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat( 5, minmax(250px, auto) );
  gap: 10px;
  margin: 20px 0;
}

section, .spotlights, .join {
  background-color: var(--secondary-color);
  padding: 15px;
}

.spotlights {
  text-align: center;
}

.spotlights h2 {
  margin-bottom: 5px;
}

.spotlights img {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px auto;
}

.spotlights hr {
  margin: 5px 0;
}

.spotlights__address a {
  color: var(--primary-color);
  font-weight: bold;
}

.hero {
  display: grid;
  padding: 0;
}

.hero img {
  height: 100%;
  object-fit: cover;
}

.hero__image,
.hero__text {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
}

.hero__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
}

.cta {
  display: inline-block;
  padding: 15px 30px;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--accent1-color);
  color: var(--primary-color);
  border-radius: 10px;
}

.cta:hover {
  background-color: var(--primary-color);
  color: var(--accent1-color);
  transition: all .1s ease-in-out;
}

.hero__cta {
  align-self: flex-end;
}

.news {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.news h2 {
  margin-bottom: 25px;
}

.news p {
  max-width: 500px;
  margin: 0 auto;
}

.join {
  text-align: center;
}

.join__cta {
  display: block;
  margin-bottom: 25px;
}

.event h2 {
  margin-bottom: 25px;
}

.join, .spotlight-3 {
  display: none;
}

[class^="spotlight-"] {
  border: 1px solid var(--accent2-color);
  min-height: 250px;
}

.event {
  grid-row: 2/3;
}

.event h2 {
  text-align: center;
}

.event p {
  max-width: 500px;
  margin: 0 auto;
}

.weather {
  grid-row: 3/4;
}

.weather h2 {
  margin-bottom: 20px;
  text-align: center;
}

.weather__wrapper {
  max-width: 300px;
  margin: 0 auto;
}

.weather__visual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.weather__visual p {
  font-family: var(--heading-font);
  font-size: 30px;
}

.fa-weather {
  max-width: 80px;
}

.weather__text h3 {
  margin-bottom: 10px;
}

.weather__info {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.footer__wrapper {
  padding: 20px;
  text-align: center;
}

.footer__logo {
  max-width: 100px;
  margin: 0 auto 10px auto;
}

.footer__physical-address {
  margin-bottom: 10px;
}

.footer__online-address span {
  display: block;
  margin-bottom: 8px;
}

.footer__online-address a {
  color: var(--secondary-color);
}

.footer-hr {
  margin: 10px 0;
}

.footer__signature div:not(:last-of-type) {
  margin-bottom: 5px;
}


/* Discover page styles */

.discover {
  margin: 25px 0;
}

.discover h1 {
  text-align: center;
  margin-bottom: 20px;
}

.discover__city section {
  padding: 20px;
}

.discover__city section h2 {
  margin-bottom: 10px;
}

.discover__city .image img {
  height: 100%;
}

/* Join page styles */

.join-page {
  padding: 35px 0px;
}

.join-page__wrapper {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 50px;
}

.join-page h1 {
  text-align: center;
  margin-bottom: 45px;
}

.join-page form fieldset {
  border: none;
  border-radius: 8px;
}

.join-page form fieldset legend {
  font-size: 22px;
  padding: 0 10px;
  font-weight: bold;
  text-align: center;
}

.join-page form fieldset:not(:last-child) {
  margin-bottom: 15px;
}

.join-page form label.top span,
.join-page form .memberships span:first-child {
  font-size: 18px;
  margin-bottom: 4px;
}

.join-page form .memberships span:first-child {
  margin-bottom: 10px;
}

.join-page form label input,
.join-page form label textarea {
  border: 1px solid #979797;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
}

.join-page form label textarea {
  resize: vertical;
}

.join-page form label.top {
  display: flex;
  flex-direction: column-reverse;
  margin: 25px 0;
}

.join-page form label.top input:required ~ span::after {
  content: "\002a";
  font-weight: bold;
  color: red;
  margin-left: 3px;
}

.join-page form .memberships span {
  display: inline-block;
  margin-bottom: 5px;
}

.join-page form label.sbs {
  display: block;
  margin-bottom: 10px;
}

.join-page form label.top input,
.join-page form label.top textarea {
  display: block;
  width: 100%;
}

.join-page form label.top input:not([type="email"])::placeholder {
  color: transparent;
}

.join-page form label.top input:required:not(:placeholder-shown):invalid {
  border-left: 8px solid red;
}

.join-page form label.top input:required:valid {
  border-left: 8px solid green;
}

.join-page form input[type="submit"] {
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

/* label[aria-hidden="true"]{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
} */

.join-page form #submissionDate {
  display: none;
}

table.memberships {
  width: 100%;
  text-align: center;
  font-size: 16px;
  border-collapse: collapse;
}

table.memberships, 
table.memberships tbody th, 
table.memberships td {
  border-bottom: 1px solid var(--secondary-color);
}

table.memberships th,
table.memberships th {
  padding: 20px 2px;
}

table.memberships td .xmark,
table.memberships td .checkmark {
  font-weight: bold;
}

table.memberships td .xmark {
  color: red;
}

table.memberships td .checkmark {
  color: rgb(2, 172, 2);
}

table.memberships thead,
table.memberships tfoot {
  background-color: var( --primary-color );
  color: var( --secondary-color );
}

table.memberships tbody tr:nth-child(even) {
  background-color: #0070a815;
}

/* Thank you page  */

.thankyou-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  height: 50vh;
}

.thankyou-page h1 {
  font-size: 50px;
  letter-spacing: 5px;
  color: var( --primary-color );
  text-align: center;
}

.thankyou-page img {
  max-width: 200px;
}

/* Directory page */

.directory {
  margin: 25px 0;
}

.directory h1 {
  margin-bottom: 35px;
  text-align: center;
}

.directory__icons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 20px;
}

.directory__icons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid var( --primary-color );
  cursor: pointer;
}

.directory__icons svg.fa-grid,
.directory__icons svg.fa-list {
  width: 25px;
  height: 25px;
  fill: var( --primary-color );
  background-color: transparent;
}

.directory__cards.grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ) );
  gap: 20px;
}

.directory__cards.list {
  /* display: grid;
  grid-template-rows: repeat( auto ); */
}

.directory__cards.grid .directory__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: var( --accent3-color );
  background-color: var( --primary-color );
}

.directory__cards.list .directory__card {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.directory__cards.list .directory__card:nth-child(odd) {
  background-color: rgba(0, 112, 168, 0.3);
  color: var( --accent2-color );
}

.directory__cards.grid .directory__card-name {
  display: none;
}

.directory__cards.grid .directory__card img {
  display: block;
  max-width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.directory__cards.list .directory__card img {
  display: none;
}







































































































































































