
body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding-top: 50px;
}

header, footer {
  background-color: #b70b0b;
  color: white;
  border-radius: 0px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
  padding: 1rem 2rem;
  box-shadow: 1px 1px 35px black;
}

.portrait {
  max-width: 96px;
  max-height: 96px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: 500;
  text-shadow: 0 0 5px black;
  text-align: center;
}

.titles {
  border-top: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
}

.titles-list li:not(:last-child) {
  margin-bottom: 8px;
}

.disclaimer {
  font-size: 16px;
  font-style: italic;
}

.year-wrapper {
  margin-bottom: 5px;
}

.date-wrapper {
  font-size: 16px;
  color: #f3fe58;
}

footer {
  margin-top: 50px;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 1px 1px 35px black;
}